body {

    min-height: 100%;
    position: relative;
    /*flex-direction: column;*/
}

button {
    margin-left: 10px;
}

main {
    padding-bottom: 160px;
}

.content {
    min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

nav ul a, nav .brand-logo {
    color: #444;
}

.full-width {
    width: 100%;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.page-footer span {
    color: #444
}

.videoContent {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.video {
    width: 853px;
    height: 514px;
}

.passangersStatisticBlock1 {
    /* min-height: 430px; */
    /*border: 1px solid grey;*/
}

.passangersStatisticBlock2 {
    width: 400px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.videoComment {
    width: 100%;
}

.key-desc {
    border: 1px solid grey;
    padding: 10px;
    margin: 15px;
    width: 25%;
}
.key__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.key__wrap {
    text-align: center;
    margin: 5px 10px 15px 5px ;
    width: min-content;
    display: inline-block;
    float: right;
}
.key__wrap button {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}













