body {

    min-height: 100%;
    position: relative;
    /*flex-direction: column;*/
}
button {
    margin-left: 10px;
}

main {
    padding-bottom:160px;
}

.content {
    min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

nav ul a, nav .brand-logo {
    color: #444;
}

.full-width {
    width: 100%;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.page-footer span {
    color: #444
}

.dropzone {
    margin-bottom: 20px;
}

/*img {*/
/*max-width: 200px;*/

/*}*/

.grid {
    background: #EEE;
    width: auto;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    overflow: hidden;
    margin-bottom: 10px;
    width: 350px;
    float: left;
}


.grid-item img {
    width: 350px;
}

.image {
    width: 350px;
    height: 175px;
}

/*Zoom img*/
.image img {
    width: 350px;
    height: 175px;
    /*Image zoom*/
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;

}

.image img:hover {
    /*Image zoom*/
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);

    opacity: 0.6;
}







